@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



body {
  background-color: #FAECCE;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #3d2b23;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: 
    linear-gradient(rgba(245, 236, 218, 0.7), rgba(245, 236, 218, 0.7)), 
    url("../images/fundos/background_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  font-family: "Alexandria", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #FAECCE;
  border-bottom: 2px solid #593d36;
}

header .logo {
  height: 50px;
  margin-top: -1rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav ul li a.entrar {
  background-color: #593d36;
  color: #FAECCE;
  padding: 0.9rem;
  border-radius: 15px;
}

header nav ul li a.entrar i {
  margin-right: 0.3rem;
}

.user-logged,
.user-logged-mobile {
  color: #484848;
  font-style: italic;
}

.user-logged i,
.user-logged-mobile i {
  background-color: #5b5b5bbb;
  padding: 0.5rem;
  border-radius: 15rem;
  color: rgb(230, 230, 230);
  border: 2px solid #484848;
}

#list {
  width: 50px;
  height: 50px;
  display: none;
  background: none;
  border-radius: 100%;
  margin: -10px;
  border: none;
}

#list i {
  font-size: xx-large;
}

#popup-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background: #FAECCE;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  padding: 1.2rem 1.2rem;
  z-index: 2000;
  display: none;
}

#popup-menu .popup-list a {
  display: block;
  margin: 0.7rem 0;
  background: #5a3e36;
  padding: 0.7rem 1.2rem;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-bottom: 0rem; */
}

.cadastro-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
  background-size: cover;
  background-position: center;
}

.image-container img {
  padding: 1rem;
  max-width: 100%;
  min-width: 265px;
  display: block;
  border-radius: 10px;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  max-width: 450px;
  margin-left: 20px;
  font-family: "Work Sans";
}

.form-container h1 {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 51px;
  color: #5a3e36;
}

.form-container h3 {
  font-family: "Space Mono";
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.form-container form label {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #969696;
  background-color: white;
  border-radius: 10rem;
}

.form-container form label input {
  background: none;
  border: none;
  user-select: none;
  outline: none;
  box-shadow: none;
}

.form-container .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.form-container .buttons button {
  width: 100%;
  padding: 10px;
  border-radius: 1.2rem;
  font-weight: bold;
  border: 0.185rem solid #5a3e36;
  margin-top: 0.8rem;
  background-color: #5a3e36;
  color: #fff;
}

.linkCadastro {
  margin-top: 0.5rem;
  text-align: center;
  font-family: "Source Code Pro";
}

.linkCadastro h5 a {
  color: #5a3e36;
  text-decoration: none;
}

span {
  position: absolute;
  display: none;
  font-weight: bold;
  color: red;
}

footer {
  position: relative;
  height: 80px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  background-color: #FAECCE;
  border-top: 2px solid #593d36;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6rem;
}

footer .social-icons a i {
  color: #5a3e36;
  font-size: 1.15rem;
  padding: 0.19rem;
}

@media (max-width: 768px) {
  body {
    background-color: #fbe9c6;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #3d2b23;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-container img {
    content: url("../images/fundos/produtos_artesanais2.png");
    height: auto;
    display: block;
    border-radius: 3rem;
    padding: 0;
    border: #5a3e36 0.2rem solid;
  }

  .cadastro-container {
    padding: 1.875rem 0.125rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
  }

  .form-container {
    margin-top: 1rem;
    margin-right: 1.2rem;
    width: 80vw;
  }

  .form-container h1 {
    font-size: 2.5rem;
  }

  .form-container h3 {
    font-size: 1.2rem;
  }

  .form-container h5 {
    font-size: 0.8rem;
  }
}

@media (max-width: 521px) {
  body {
    background-color: #fbe9c6;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #3d2b23;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #list {
    list-style-type: none;
    display: block;
  }

  #popup-menu ul {
    list-style: none;
    margin-left: -1.5rem;
  }

  .image-container img {
    content: url("../images/fundos/objetos_artesanais3.png");
    margin-top: 65px;
    width: 100vw;
    border-radius: 0;
    border: 0;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0rem;
  }

  header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
  }

  header nav ul {
    display: none;
  }

  .cadastro-container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }

  .form-container {
    padding: 20px;
    width: 100%;
    min-width: 100%;
    margin: 2rem 0;
  }

  .form-container h1 {
    font-size: 2.0rem;
  }

  .form-container h3 {
    font-size: 1.2rem;
  }

  .form-container h5 {
    font-size: 0.8rem;
  }

  footer {
    justify-content: center;
    flex-direction: column-reverse;
    font-size: 0.7rem;
  }
}