body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    background: var(--imagem-fundo);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--cor-texto-primario);
}
header {
    font-family: "Alexandria", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #FAECCE; */
    /* border-bottom: 2px solid #593d36; */
}

header .logo {
    height: 50px;
    margin-top: -1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav ul li a.entrar {
    background-color: #593d36;
    color: white;
    padding: 0.9rem;
    border-radius: 15px;
}

header nav ul li a.entrar i {
    margin-right: 0.3rem;
}

.user-logged,
.user-logged-mobile {
    color: #484848;
    font-style: italic;
}

.user-logged i,
.user-logged-mobile i {
    background-color: #5b5b5bbb;
    padding: 0.5rem;
    border-radius: 15rem;
    color: rgb(230, 230, 230);
    border: 2px solid #484848;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-box {
    background-color: var(--cor-fundo-caixa);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
}

.confirmation-box h1 {
    font-size: 2rem;
    color: #28a745;
    margin-bottom: 20px;
    font-family: "Alexandria", sans-serif;
}

.confirmation-box p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.confirmation-box a {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--cor-interativo);
    color: var(--cor-interativo-texto);
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.confirmation-box a:hover {
    background-color: #b88c4a;
}
