@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:
    linear-gradient(rgba(245, 236, 218, 0.7), rgba(245, 236, 218, 0.7)),
    url("../images/fundos/pexels-fwstudio-33348-129733.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  font-family: "Alexandria", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header .logo {
  height: 50px;
  margin-top: -1rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav ul li a.entrar {
  background-color: #593d36;
  color: white;
  padding: 0.9rem;
  border-radius: 15px;
}

header nav ul li a.entrar i {
  margin-right: 0.3rem;
}

.user-logged,
.user-logged-mobile {
  color: #484848;
  font-style: italic;
}

.user-logged i,
.user-logged-mobile i {
  background-color: #5b5b5bbb;
  padding: 0.5rem;
  border-radius: 15rem;
  color: rgb(230, 230, 230);
  border: 2px solid #484848;
}

#list {
  width: 50px;
  height: 50px;
  display: none;
  background: none;
  border-radius: 100%;
  margin: -10px;
  border: none;
}

#list i {
  font-size: xx-large;
}

.menu-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  padding: 0.8rem;
  display: none;
  min-width: 120px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-popup.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.menu-popup .menu-item {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background-color: #5a3e36;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
  transition: background-color 0.2s;
}

.menu-popup .menu-item:hover {
  background-color: #7a574d;
}

#popup-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  padding: 1.2rem 1.2rem;
  z-index: 2000;
  display: none;
}

#popup-menu .popup-list a {
  display: block;
  margin: 0.7rem 0;
  background: #5a3e36;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
}

main {
  padding: 2rem 0 2rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.submit {
  border-style: none;
  font-family: "Alexandria", sans-serif;
  border-radius: 1rem;
  color: white;
  font-size: 24px;
  padding: 0.5rem 2rem;
  background-color: rgb(57, 33, 33);
  transition: background-color 250ms ease, transform 150ms ease;
  will-change: background-color, transform;
}

.submit:hover,
.submit:focus {
  background-color: #80574c;
  cursor: pointer;
}

.venda-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  margin: 32px 16px;
}

.sidebar {
  display: flex;
  gap: 16px;
}

.btn-add,
.btn-back {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #000000;
  background: #e6e6e6;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-back {
  width: 40px;
  color: white;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 250px;
  background-color: #333;
}

.imagem-produto {
  max-width: 500px;
  width: 35vw;
  aspect-ratio: 1 / 1;
  background: #d3d3d3;
  border: 2px solid #000000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-produto {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8px;
}

.info-produto>div {
  background: #fff;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 12px 18px;
  font-size: 1.3rem;
  min-width: 240px;
}

.nome-produto {
  font-size: 1.5rem;
  font-weight: 400;
}

.nome-produto input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.destaque-produto {
  background: #fff;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 12px 18px;
  min-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titulo-destaque {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.botoes-destaque {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.quantidade-produto {
  background: #fff;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.2rem;
}

.comprar-agora,
.adicionar-carrinho {
  background: #fff;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 8px 0;
  font-size: 1rem;
  margin-top: 4px;
}

#free_shipping {
  width: 2rem;
}

.container-produto {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  width: 95%;
  justify-self: center;
  padding: 1.5rem;
  border: #000000 3px solid;
}

.mobile {
  display: none;
}

.quadro-descricao {
  width: 95%;
  height: 65vh;
  justify-self: center;
  background: #fff;
  border: 2px solid #000000;
  border-radius: 25px;
  display: flex;
  margin-top: 2rem;
  padding: 1.5rem;
  align-items: center;
  box-sizing: border-box;
}

.quadro-descricao span {
  color: #222;
  font-size: 1.2rem;
  text-align: center;
}

.valor-produto input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.parcelas-produto input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.descricao-produto input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.quantidade-produto input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 400;
}

.quadro-descricao textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding-bottom: 550px;
  font-size: 1.5rem;
  font-weight: 500;
  resize: none;
  outline: none;
}

footer {
  text-align: center;
  position: relative;
  height: 80px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6rem;
}

footer .social-icons a i {
  color: #5a3e36;
  font-size: 1.15rem;
  padding: 0.19rem;
}

@media (max-width: 1130px) {
  .quadro-descricao {
    width: 90%;
    height: 90%;
  }

  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container-produto {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 30px;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
    margin: 20;
    padding-bottom: 1rem;
  }

  .sidebar .btn-add,
  .sidebar .btn-back {
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    margin: 0 10px;
  }

  .imagem-produto {
    min-width: 330px;
  }

  .btn-add {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }

  .btn-back {
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
  }

  .sidebar .btn-add {
    display: none;
  }

  .sidebar {
    width: 100%;
    padding-left: 10px;
    align-items: start;
  }

  .mobile {
    display: block;
  }

  .info-produto {
    width: 80%;
    margin-top: 0;
    align-items: stretch;
  }

  .info-produto>div {
    min-width: unset;
    width: 100%;
    font-size: 1.2rem;
  }

  .nome-produto input,
  .valor-produto input,
  .parcelas-produto input,
  .descricao-produto input,
  .quantidade-produto input {
    font-size: 1.4rem;
  }

  .destaque-produto {
    min-width: unset;
    width: 80%;
    margin: 0;
  }

  .titulo-destaque {
    font-size: 1.1rem;
  }

  .comprar-agora,
  .adicionar-carrinho {
    font-size: 1rem;
    padding: 10px 0;
  }

  .quadro-descricao {
    width: 90%;
    height: 70vh;
    margin: 30px auto;
  }

  .quadro-descricao input {
    width: 95%;
    height: 95%;
    padding-bottom: 0;
    font-size: 1.3rem;
    padding-bottom: 320px;
  }
}

@media (max-width: 601px) {
  #list {
    display: block;
  }

  form {
    gap: 1rem;
  }

  header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
  }

  header nav ul {
    display: none;
  }

  #popup-menu ul {
    list-style: none;
    margin-left: -1.5rem;
  }

  header nav ul li a.entrar {
    display: none;
  }

  header nav ul li a.entrar {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    margin-left: 0;
  }

  .venda-container {
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
  }

  .btn-add {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
  }

  .btn-back {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    margin-left: 0;
  }

  .imagem-produto {
    margin-right: 0;
    margin-left: 0;
  }

  .info-produto {
    width: 90%;
    margin-top: 20px;
    align-items: center;
  }

  .info-produto>div {
    min-width: unset;
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
  }

  .nome-produto input,
  .valor-produto input,
  .parcelas-produto input,
  .descricao-produto input,
  .quantidade-produto input {
    font-size: 1.3rem;
  }

  .destaque-produto {
    min-width: unset;
    width: 90%;
    margin-left: 00;
    margin-right: 0;
  }

  .titulo-destaque {
    font-size: 0.9rem;
  }

  .comprar-agora,
  .adicionar-carrinho {
    font-size: 0.9rem;
    padding: 6px 0;
  }

  .container-produto {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sidebar .btn-add {
    display: none;
  }

  .sidebar {
    width: 100%;
    padding-left: 10px;
    align-items: start;
  }

  .mobile {
    display: block;
  }

  footer {
    justify-content: center;
    flex-direction: column-reverse;
    font-size: 0.7rem;
  }
}