
/* Estilo do cabeçalho */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FAECCE;
   background-image: url("../images/fundos/fundo_palha.png");
}

header {
    font-family: "Alexandria", sans-serif;
    background-color: #fff;
    border-bottom: 2px solid #5a3e36;
    padding: 10px 20px;
}

  header .logo {
    height: 50px;
    margin-top: -1rem;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  header nav ul li a.entrar {
    background-color: #5a3e36;
    color: white;
    padding: 0.9rem;
    border-radius: 15px;
  }
  
  header nav ul li a.entrar i {
    margin-right: 0.3rem;
  }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #5a3e36;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
    width: 30rem;
    margin-left: 10rem;
    position: absolute;
}

.search-bar i {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    background: none;
    color: white;
}

input::placeholder {
  color: white;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a.entrar {
    background-color: #5a3e36;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 2rem;
    margin-block-end: -0.7rem;
}
.menu-bar div{
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    justify-content: end;
}

.menu-bar button {
    background-color: #5a3e36;
    color: #fff;
    border: none;
    border-radius: 0.6rem 0.6rem 0 0; 
    font-size: 14px;
    height: 2rem;
    width: auto; 
}

.menu-bar button.cart {
    font-size: 18px;
    height: 2rem;
    width: 2rem;
}    

.menu-bar dbutton:hover {
    background-color: #000000;
}

/* CSS para a página de compra de produtos */
.product-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     height: 65vh;
    background-color: white;
    border-radius: 2rem;
    margin: 2rem;
}

.product-gallery {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product-gallery .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-gallery .thumbnails img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
}

.product-gallery .thumbnails img:hover {
    border-color: #5a3e36;
}

.product-gallery .main-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details {
    margin-bottom: 2rem;
    width: 20rem;
    margin: auto;
}

.product-details h1 {
    font-size: 3rem;
    margin: 0;
}
.sair{
    background-color: #5a3e36;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.product-details .price {
    display: flex;
    font-size: 2.5rem;
    flex-direction: column;
    font-weight: bold;
    color: #5a3e36;
    margin-bottom: 0.5rem;
}
.avaliar{
    display: block;
    justify-content: space-between;
}
.product-details .price .old-price {
    text-decoration: line-through;
    font-size: 1.3rem;
    color: #ff0000;
    margin-right: 0.5rem;
}

.product-details .installments {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.product-details .payment-methods {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
}

.product-info {
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
}

.product-info p {
    margin: 0.5rem 0;
}
.color{
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}
.handle-color{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.material{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.bolsa{
    background-color: #78452B;
    width: 10rem;
    border-radius: 0.4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.alça{
    background-color: #75350C;
    width: 12rem;
    border-radius: 0.4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.palha{
    border: solid #FFB789;
    border-radius: 1rem;
  
}

.purchase-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: solid black;
    border-radius: 1.1rem;
    padding: 0.3rem;
    width: auto;
    margin-right: 0.3rem;
}

.delivery-info, .stock-info {
    font-size: 1rem;
    color: #333;
}
.gratis{
    color: #FE5F2F;
}
.compra{
    color: #FE5F2F;
}
.devol{
    color: #FE5F2F;
}
.purchase-buttons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: -1.9rem;
}

.purchase-buttons button {
    background-color: #392621;
    width: 20rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.purchase-buttons button:hover {
    background-color: #000000;
}

.ofertas{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    border-radius: 1rem;
    margin: 2rem;
}

.other-offers h2 {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 1rem;
}

.offers-container{
    flex-direction: row;
    border: solid black;
    border-radius: 0.7rem;
}

.offer-item{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.offer-item .card{
    border: none;
}
.card img {
    width: 150px;
    max-height: 150px;
    height: auto;
    object-fit: cover; 
    border-radius: 5px; 
}

.descricao-produto {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 10px;
    
}

.descricao-produto h2 {
    font-size: 2.8rem;
    color: #000000;
    margin-bottom: 1rem;
    font-weight: bold;
}

.descricao-produto p {
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.produto-reviews {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.produto-reviews h2 {
    font-size: 2.7rem;
    color: #000000;
    margin-bottom: 1rem;
    font-weight: bold;
}

.reviews-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.avaliações {
    font-size: 2.5rem;
    color: #5a3e36;
}

span i {
    color: rgb(253, 189, 49)
}

.reviews-destaque {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.reviews-destaque .opn{
    font-size: 2.7rem;
    color: #000000;
    font-weight: bold;
}

.reviews-destaque .review {
    background-color: #4B3A35;
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.card-text{
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    margin: -0.3rem;
}

.sub-card-text{
    font-size: 2.7rem;
    font-weight: bold;
}

.Foto{
    background-color: #40312C;
    border-radius: 1rem;
}
.ofertas h2{
    font-size: 2.7rem;
    color: #000000;
    margin-bottom: 1rem;
    font-weight: bold;
}

.Produtos-similares{
    margin: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}
.Produtos-similares h1{
    font-weight: bold;
}

.produtos{
    display: flex;
   justify-content: space-between;
   align-items: center;
}

footer {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.6rem;
}

footer .social-icons a i {
  color: #5a3e36;
  font-size: 1.15rem;
  padding: 0.19rem;
}
.botoes_adc{
    display: none;
 }
 .text_tablet{
    display: none;
 }
 .sub_text_tablet{
    display: none;
 }
@media (max-width: 1309px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  .search-bar {
    width: 40vw;
    min-width: 8rem;
    max-width: 22rem;
    position: absolute;
    margin-left: 10rem;
  }
  .product-page{
    height: auto;
  }
  .purchase-info{
    width: auto;
  }
  .purchase-info p{
    font-size: 0.9rem;
  }
  .botoes_adc{
    display: none;
 }
 .text_tablet{
    display: none;
 }
 .sub_text_tablet{
    display: none;
 }
}
@media (max-width: 1018px) {
    html, body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .descricao-produto p{
    font-size: 1rem;
  }
  .sub-card-text{
    font-size: 2.3rem;
  }
  .other-offers h2{
    font-size: 2.3rem;
  }
  .descricao-produto h2{
    font-size: 2.3rem;
  }
  .reviews-destaque .opn{
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  .reviews-container{
    gap: 3rem;
  }
  .avaliações h2{
    font-size: 2.3rem;
  }
  .avaliações p{
    font-size: 1.7rem;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  .product-page{
    height: auto;
    width: auto;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     height: 65vh;
    background-color: white;
    border-radius: 2rem;
    margin: 2rem;
  }
  .product-info{
    margin-top: 0.1rem;
    font-size: 0.9rem;
    gap: 1.0em;
    height: 10rem;
    width: 15rem;
  }
  .product-gallery .main-image img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}
.product-details h1{
    font-size: 40px;
}
.purchase-buttons button{
    width: 15rem;
    height: auto;
}
.product-details .price {
    display: flex;
    font-size: 2.0rem;
    flex-direction: column;
    font-weight: bold;
    color: #5a3e36;
    margin-bottom: 0.5rem;
}
.product-details .price .old-price {
    text-decoration: line-through;
    font-size: 1.0rem;
    color: #ff0000;
    margin-right: 0.5rem;
}
  .search-bar {
    width: 22rem;
    min-width: 6rem;
    max-width: 90vw;
    position: static;
    margin-left: 0;
  }
  .botoes_adc{
    display: none;
 }
 .text_tablet{
    display: none;
 }
 .sub_text_tablet{
    display: none;
 }
}
@media (max-width: 934px) {
 .purchase-info p{
    font-size: 0.8rem;
    gap: 0.1rem;
 }
 .purchase-buttons button{
    width: 15rem;
    height: 3rem;
}
.botoes_adc{
    display: none;
 }
 .text_tablet{
    display: none;
 }
 .sub_text_tablet{
    display: none;
 }
}
@media (max-width: 832px) {
 .purchase-info p{
    font-size: 0.8rem;
    gap: 0.1rem;
 }
 .sub-card-text{
    font-size: 2rem;
  }
  .other-offers h2{
    font-size: 2rem;
  }
  .descricao-produto h2{
    font-size: 2rem;
  }
 .purchase-buttons button{
    width: 15rem;
    height: 3rem;
}
.product-details h1{
    font-size: 30px;
}
.product-info{
    font-size: 0.9rem;
}
.product-gallery .main-image img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}
.botoes_adc{
    display: none;
 }
 .text_tablet{
    display: none;
 }
 .sub_text_tablet{
    display: none;
 }
}
@media (max-width: 768px) {
 .purchase-info{
    display: none;
 }
 .card-title{
    font-size: 1rem;
 }
 .sub-card-text{
    font-size: 1.8rem;
 }
 .product-info{
    font-size: 1rem;
 }
 .product-page{
    height: 80vh;
 }
 .botoes_adc{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    width: auto;
    margin-top: 2.5rem;
 }
 .text_tablet{
    margin-top: 3rem;
    display: block;
    font-size: 1.4rem;
 }
 .sub_text_tablet{
    display: block;
 }
 .product-details h1{
    font-size: 2.7rem;
 }
 .botoes_adc button{
    background-color: #392621;
    color: #fff;
    width: 15rem;
    height: 3.7rem;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: -18rem;
 }
 .product-gallery .main-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.main-image{
   flex-direction: column;
   margin: auto;
}
.main-image img{
    width: 240px;
    height: 240px; 
}
}
@media (max-width: 700px) {
  .card-title{
    font-size: 0.9rem;
 }
 .botoes_adc button{
    background-color: #392621;
    color: #fff;
    width: 13rem;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    margin-left: -18rem;
 }

 .botoes_adc{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    width: auto;
    margin-top: 2.5rem;
 }
 .offer-item img{
    height: 100px;
    width: 100px;
 }
 .sub-card-text{
    font-size: 1.6rem;
 }
 }
@media (max-width: 665px) {
.botoes_adc button{
    background-color: #392621;
    color: #fff;
    width: 13rem;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    margin-left: -14rem;
 }
 .product-page{
    height: 100vh;
 }
 .btn_2{
    margin-right: 3rem;
 }
}
@media (max-width: 595px) {
    
}
